.add-remont {
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    input {
      width: 98%;
      margin-left: 2%;
    }
  }
  #parent_category {
    position: relative;
    &:hover  .add-remont-category-list_parent {
      display: block;
      top: 25px;
    }
  }

  #child_category {
    position: relative;
    &:hover .add-remont-category-list_child.showed {
      display: block;
      top: 25px;
    }
  }
  
  &-parent {
    #parent_category {
      p {
        text-decoration: underline;
      }
    }
  }
  &-category { 
    &-list {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;

      &_child {
        display: none;
      } 
    }
    &-item {
      &:hover {
        text-decoration: underline;
      }
      &.selected { 
        color: green
      }
    }
  }
}