.add-remont {
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    input {
      width: 98%;
      margin-left: 2%;
    }
  }
  #category_container:hover { 
    .add-remont-category-list_parent {
      display: block;
    }
  }
  &-category { 
    &-list {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;

      &_child {
        display: none;
      } 
    }
    &-item {
      
      &.selected { 
        color: green
      }
    }
  }
}