.rollback-link {
  text-align: left;
  display: block;
  text-decoration: none;
  &::before {
    content: ' <-- ';
    transition: all ease .5s;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    &:before {
      margin-left: -5px;
      margin-right: 5px;
    }
  }
}

[data-tooltip]::before {
  position : absolute;
  content : attr(data-tooltip);
  opacity : 0;
  background: #7f8081; 
  color: #fff; 
  padding: 0.5em; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  pointer-events: none; 
  transition: 1s; 
  // top: 1em;
  font-size: .7rem;
}

[data-tooltip]:hover::before {
  opacity : 1;
}

[data-tooltip]:not([data-tooltip-persistent])::before {
  pointer-events: none;
}